In [1]:
import pandas as pd
import numpy as np
import os
# import Levenshtein
import difflib

In [2]:
cell2ind = pd.read_csv('../data/cell2ind.txt', header=None, sep='\t')
gene2ind = pd.read_csv('../data/gene2ind.txt', header=None, sep='\t')
drug2ind = pd.read_csv('../data/drug2ind.txt', header=None, sep='\t')
cell2mutation = pd.read_csv('../data/cell2mutation.txt', header=None, sep=',')
drug2fingerprint = pd.read_csv('../data/drug2fingerprint.txt', header=None, sep=',')
drugcell_ont = pd.read_csv('../data/drugcell_ont.txt', header=None, sep='\t')

train = pd.read_csv('../data/drugcell_train.txt', header=None, sep='\t')
test = pd.read_csv('../data/drugcell_test.txt', header=None, sep='\t')
cellminer = pd.read_csv('../data/out_.txt', header=None, sep='\t')
# cellminer[0] = cellminer[0].str.upper()
cellminer[1] = cellminer[1].str.upper()

# Shape

In [3]:
print('Cell Index:' + str(cell2ind.shape))
print('Gene Index:' + str(gene2ind.shape))
print('Drug Index:' + str(drug2ind.shape))
print('Cell Mutation:' + str(cell2mutation.shape))
print('Drug Fingerprint:' + str(drug2fingerprint.shape))

Cell Index:(1225, 2)
Gene Index:(3008, 2)
Drug Index:(684, 2)
Cell Mutation:(1225, 3008)
Drug Fingerprint:(684, 2048)

In [4]:
len(set(train[0]) & set(test[0]))

622

In [5]:
set(test[0]) - set(train[0])

{'JHU028_LUNG', 'KYSE220_OESOPHAGUS', 'MCC13_SKIN', 'NCCSTCK140_STOMACH'}

In [6]:
len(set(test[0]))

626

In [7]:
len(set(train[1]) & set(test[1]))

479

In [8]:
set(test[1]) - set(train[1])

{'CC(C)(C)C1=CC2=C(C=C1)C=C(C(=C2)C#N)C#N.CC(C)(C1=NC(=CC=C1)N2C3=NC(=NC=C3C(=O)N2CC=C)NC4=CC=C(C=C4)N5CCN(CC5)C)O'}

In [9]:
len(set(test[1]))

480

# The 1st column is identification of cells (genotypes) and the 2nd column is identification of drugs.
# Don't know how to get Cell Line and SMILES pair from cellminer

# Sample data

In [10]:
test.head()
# CELL LINE : SMILES

,0,1,2
0,LS123_LARGE_INTESTINE,CNC(=O)C1=NC=CC(=C1)OC2=CC(=C(C=C2)NC(=O)NC3=C...,0.894224
1,RT4_URINARY_TRACT,C[C@@H](C(=O)N[C@H]1C2=CC=CC=C2CCN(C1=O)C)NC(=...,0.874261
2,SCABER_URINARY_TRACT,C1CCN(C1)C(=O)NC2=CC=CC(=C2)NC3=NC=C(C(=N3)NCC...,0.960072
3,TE617T_SOFT_TISSUE,C1CN(CCC12C(=O)NCN2C3=CC=CC=C3)CCNC(=O)C4=CC5=...,0.987354
4,MOGGCCM_CENTRAL_NERVOUS_SYSTEM,CC1=CN=C(N=C1NC2=CC(=CC=C2)S(=O)(=O)NC(C)(C)C)...,0.871997

In [11]:
train[train[0] == 'KYSE450_OESOPHAGUS']

,0,1,2
0,KYSE450_OESOPHAGUS,C1CC(=O)NC(=O)C1N2C(=O)C3=CC=CC=C3C2=O,1.006587
67,KYSE450_OESOPHAGUS,COC1=C(C=CC(=C1)C=CC(=O)CC(=O)C=CC2=CC(=C(C=C2...,0.890410
382,KYSE450_OESOPHAGUS,CCCS(=O)(=O)NC1=C(C(=C(C=C1)F)C(=O)C2=CNC3=NC=...,1.001322
768,KYSE450_OESOPHAGUS,CCOC(=O)C1=CC=C(C=C1)N2C(=O)C(=CC3=CC=C(O3)[N+...,0.976716
785,KYSE450_OESOPHAGUS,CC1=CC2=C(C=C1)N=C(C3=NC=C(N23)C)NCCN,0.772537
2173,KYSE450_OESOPHAGUS,C1=C(C(=O)NC(=O)N1)F,0.481351
2266,KYSE450_OESOPHAGUS,COC1=C(C=C2C(=C1)C(=NC=N2)NC3=CC=C(C=C3)NC(=O)...,0.982268
2885,KYSE450_OESOPHAGUS,CN1CCN(CC1)CCCN2C3=CC=CC=C3SC4=C2C=C(C=C4)Cl,1.013487
3538,KYSE450_OESOPHAGUS,CC(C)OC(=O)C1=CN(CC(C2=C1NC3=CC=CC=C32)(C)C)C(...,0.976186
3572,KYSE450_OESOPHAGUS,COC(=O)CNC(=O)C(=O)OC,0.734794
3918,KYSE450_OESOPHAGUS,CC1=NC=C(C=C1)OC2=C(C=C(C=C2)NC3=NC=NC4=C3C=C(...,0.810830
5809,KYSE450_OESOPHAGUS,CN1CCN(CC1)C2=CC=C(C3=NO[N+](=C23)[O-])[N+](=O...,0.885365
8288,KYSE450_OESOPHAGUS,CC1=C(C=C(N1CCCN2CCOCC2)C3=CC=CC=C3)C(=O)NC4=C...,0.973883
8361,KYSE450_OESOPHAGUS,CC1=C(C(=NO1)C(=O)N2CCN(CC2)C(C3=CC=C(C=C3)Cl)...,0.738325

In [12]:
test[test[0] == 'KYSE450_OESOPHAGUS']

,0,1,2
372,KYSE450_OESOPHAGUS,COC1=CC(=C(C=C1)OC)C2=NN=C3N2N=C(CS3)C4=CC(=C(...,0.782034

# Shape

In [13]:
print('Cell Index:' + str(cell2ind.shape))
print('Gene Index:' + str(gene2ind.shape))
print('Drug Index:' + str(drug2ind.shape))
print('Cell Mutation:' + str(cell2mutation.shape))
print('Drug Fingerprint:' + str(drug2fingerprint.shape))
print('Gene Ontology:' + str(drugcell_ont.shape))

Cell Index:(1225, 2)
Gene Index:(3008, 2)
Drug Index:(684, 2)
Cell Mutation:(1225, 3008)
Drug Fingerprint:(684, 2048)
Gene Ontology:(62920, 3)

In [14]:
cell2ind.head()
# index : Cell Line

   0                                           1
0  0                                NCIH810_LUNG
1  1                HN_UPPER_AERODIGESTIVE_TRACT
2  2                                COV434_OVARY
3  3  CCRFCEM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
4  4          PECAPJ49_UPPER_AERODIGESTIVE_TRACT

In [15]:
gene2ind.head()
# index : Gene Name
# related to cell2mutation

   0         1
0  0     AADAC
1  1     AADAT
2  2      AAK1
3  3      AARS
4  4  AASDHPPT

In [16]:
drug2ind.head()
# index : SMILES

   0                                                  1
0  0  C[C@H]1CN(C(=O)C2=C(C(=CC=C2)NS(=O)(=O)C3=CC=C...
1  1  C1C2CC3CC1CC(C2)(C3)C4=C(C=C5C=C(C=CC5=C4)C6=C...
2  2  CN1CCN(CC1)CC(=O)N(C)C2=CC=C(C=C2)N/C(=C\3/C4=...
3  3  CC(CS(=O)(=O)C1=CC=C(C=C1)F)(C(=O)NC2=CC(=C(C=...
4  4  C[C@H]1CN(C(=O)C2=C(C=CC(=C2)NS(=O)(=O)C3=CN(C...

In [17]:
cell2mutation.head()
# Mutation for each Cell Line

,0,1,2,3,4,5,6,7,8,9,...,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
drug2fingerprint.head()
# Fingerprint for each drug

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
drugcell_ont.head()

            0           1        2
0  GO:0007005  GO:0007006  default
1  GO:0007005  GO:0008637  default
2  GO:0006281  GO:0006284  default
3  GO:0006281  GO:0006283  default
4  GO:0006281  GO:0019985  default

In [20]:
drugcell_ont.tail()

                0        1     2
62915  GO:2001240   BCL2L1  gene
62916  GO:2001240     AKT1  gene
62917  GO:0008150  LYPLAL1  gene
62918  GO:0008150   ABHD11  gene
62919  GO:0008150     EML4  gene

In [21]:
drugcell_ont[drugcell_ont[1] == 'CFL1']

                0     1     2
5708   GO:0000281  CFL1  gene
5714   GO:0030010  CFL1  gene
7970   GO:0001101  CFL1  gene
8883   GO:0048646  CFL1  gene
10534  GO:0043009  CFL1  gene
10793  GO:0001755  CFL1  gene
12262  GO:0016331  CFL1  gene
12346  GO:0060429  CFL1  gene
12389  GO:0001841  CFL1  gene
14949  GO:0006468  CFL1  gene
17741  GO:0009607  CFL1  gene
19487  GO:0043902  CFL1  gene
21784  GO:0060485  CFL1  gene
25345  GO:0043624  CFL1  gene
25443  GO:0043244  CFL1  gene
29311  GO:0022411  CFL1  gene
30007  GO:0007015  CFL1  gene
31840  GO:0007266  CFL1  gene
32129  GO:0007399  CFL1  gene
34489  GO:0008064  CFL1  gene
36222  GO:0009615  CFL1  gene
38998  GO:0043066  CFL1  gene
39358  GO:0051495  CFL1  gene
39695  GO:0010769  CFL1  gene
41640  GO:0048864  CFL1  gene
41660  GO:0014031  CFL1  gene
45865  GO:0051674  CFL1  gene
45934  GO:1902905  CFL1  gene
47563  GO:0040011  CFL1  gene
50475  GO:0032970  CFL1  gene
52798  GO:0035722  CFL1  gene
56364  GO:0043903  CFL1  gene
56572  GO:0051851  CFL1  gene
59890  GO:0061001  CFL1  gene

In [22]:
cellminer

                    0                                                  1
0        METHOTREXATE  CN(CC1CNC2NC(N)NC(N)C2N1)C3CCC(CC3)C(=O)N[C@@H...
1       6-THIOGUANINE                             NC1=NC(=S)C2[NH]CNC2N1
2    6-MERCAPTOPURINE                                S=C1N=CNC2NC[NH]C12
3         Allopurinol                                O=C1NC=NC2[NH]NCC12
4        Chlorambucil                     OC(=O)CCCC1CCC(CC1)N(CCCL)CCCL
..                ...                                                ...
193      gilteritinib  CCC1NC(C(=O)N)C(NC2CCC(N3CCC(CC3)N4CCN(C)CC4)C...
194     Acalabrutinib  CC#CC(=O)N1CCC[C@H]1C2NC(C3CCC(CC3)C(=O)NC4CCC...
195        Sulfatinib  CN(C)CCNS(=O)(=O)CC1CCCC(NC2NCCC(OC3CCC4[NH]C(...
196        umbralisib  CC(C)OC1CCC(CC1F)C2NN([C@@H](C)C3=C(C(=O)C4CC(...
197        Copanlisib  COC1C(OCCCN2CCOCC2)CCC3C4=NCCN4C(=NC13)NC(=O)C...

[198 rows x 2 columns]

In [23]:
len(set(train[1]))

680

In [24]:
len(set(train[1]) - set(cellminer[1]))

680

In [25]:
len(set(train[1]) - set(test[1]))

201

In [26]:
train.head()
# CELL LINE : SMILES
# The 1st column is identification of cells (genotypes) and the 2nd column is identification of drugs.
# Don't know how to get Cell Line and smiles pair from cellminer

,0,1,2
0,KYSE450_OESOPHAGUS,C1CC(=O)NC(=O)C1N2C(=O)C3=CC=CC=C3C2=O,1.006587
1,SUDHL1_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,C1CN(CCN1)C(=O)C2=CC=C(C=C2)/C=C/C3=NNC4=CC=CC...,0.705210
2,OCIAML3_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,COC1=C(C=C2C(=C1)N=CN=C2NC3=CC(=C(C=C3)F)Cl)OC...,0.885490
3,SCC9_UPPER_AERODIGESTIVE_TRACT,C1=CC=C2C(=C1)C3=CC=CC=C3N2CCC4=NC5=CC=CC=C5N4,0.955772
4,SNU489_CENTRAL_NERVOUS_SYSTEM,CCCCCCCCCCC(C)(C)C(=O)NC1=C(C=C(C=C1OC)OC)OC,1.012310

In [27]:
for i, j in zip(train[0], train[1]):
    if 'MDA' in i:
        print(i, j)
# Naming rule between cellminer and this ml mthods are completely different...

MDAMB231_BREAST C1=CC=C2C(=C1)C(=CC=N2)CNC3=C(SC=C3)C(=O)NC4=CC=C(C=C4)OC(F)(F)F
MDAMB436_BREAST N.N.[Cl-].[Cl-].[Pt+2]
MDAMB361_BREAST CC1=CC(=NN1)NC2=NC(=NC=C2Cl)N[C@@H](C)C3=NC=C(C=N3)F
MDAMB361_BREAST CC(C)(C)C1=CC(=CC(=C1)C(=O)/C=C/C2=CC=C(C=C2)C(=O)O)C(C)(C)C
MDAMB157_BREAST C1=CN(C(=O)N=C1N)[C@H]2C([C@@H]([C@H](O2)CO)O)(F)F
MDAMB435S_SKIN CC(C)N(CCCNC(=O)NC1=CC=C(C=C1)C(C)(C)C)C[C@@H]2[C@H]([C@H]([C@@H](O2)N3C=CC4=C3N=CN=C4N)O)O.CC1(CCC(=C(C1)CN2CCN(CC2)C3=CC=C(C=C3)C(=O)NS(=O)(=O)C4=CC(=C(C=C4)N[C@H](CCN5CCOCC5)CSC6=CC=CC=C6)S(=O)(=O)C(F)(F)F)C7=CC=C(C=C7)Cl)C
MDAMB157_BREAST CCCC[C@@H](C)/C=C(\C)/C=C(\C)/C(=O)NC1=C[C@]([C@H]2[C@@H](C1=O)O2)(/C=C/C=C/C=C/C(=O)NC3C(=O)CCC3=O)O
MDAMB415_BREAST CC1=C2[C@H](C(=O)[C@@]3([C@H](C[C@@H]4[C@]([C@H]3[C@@H]([C@@](C2(C)C)(C[C@@H]1OC(=O)[C@@H]([C@H](C5=CC=CC=C5)NC(=O)OC(C)(C)C)O)O)OC(=O)C6=CC=CC=C6)(CO4)OC(=O)C)O)C)O
MDAMB231_BREAST CC(C)CNC1=NC(=NC=C1)NCC2=CSC(=N2)C3=CC=CC=C3
MDAMB468_BREAST B([C@H](CC(C)C)NC(=O)[C@H](CC1=CC=CC=C1)NC(=O)C2=NC=CN=C2)(O)O.C[C@H]1C[C@@H]([C@@H]([C@H](/C=C(/[C@@H]([C@H](/C=C\C=C(\C(=O)NC2=CC(=O)C(=C(C1)C2=O)NCC=C)/C)OC)OC(=O)N)\C)C)O)OC
MDAMB361_BREAST CN1C(=O)C(NC1=S)CC2=CNC3=CC=CC=C32
MDAMB330_BREAST CN1C=C(C=N1)C2=CC3=C4C(=CN=C3C=C2)C=CC(=O)N4C5=CC6=C(CCN6C(=O)C=C)C=C5
MDAMB453_BREAST CNC(=O)C1=NC=CC(=C1)OC2=CC=C(C=C2)NC(=O)NC3=CC(=C(C=C3)Cl)C(F)(F)F
MDAMB453_BREAST CN1C2C3=C(CCN2C(=O)C4=CC=CC=C41)C5=CC=CC=C5N3
MDAMB361_BREAST C1CCC(CC1)N2C=NC3=C2N=C(N=C3NC4=CC=C(C=C4)N5CCOCC5)OC6=CC=CC7=CC=CC=C76
MDAMB468_BREAST C1=CC(=CC=C1C2=C(C=NN2)C=C3C(=O)N(C(=N)S3)C4=NC=CS4)F
MDAMB231_BREAST CC1=C(NC(=C1C(=O)N2CCN(CC2)C)C)/C=C\3/C4=C(C=CC(=C4)S(=O)(=O)N(C)C5=CC(=CC=C5)Cl)NC3=O
MDAMB361_BREAST C[C@@H]1CN(C(=O)C2=C(C(=CC=C2)NC(=O)NC3=CC=CC4=CC=CC=C43)O[C@H]1CN(C)S(=O)(=O)C5=CC=C(C=C5)OC)[C@@H](C)CO
MDAMB231_BREAST C1CCN(C1)[C@H]2CCC3=C(CC2)C=C(C=C3)NC4=NN(C(=N4)N)C5=NN=C6C(=C5)CCCC7=CC=CC=C76
MDAMB231_BREAST CC1(CC(C1)C2=NC(=C3N2C=CN=C3N)C4=CC5=C(C=C4)C=CC(=N5)C6=CC=CC=C6)O
MDAMB435S_SKIN CCN1CCN(CC1)CC(=O)NC2=C3C4=CC=CC=C4SC3=C(C=C2)C5=CC=CC6=C5OC(=CC6=O)N7CCOCC7
MDAMB330_BREAST COC1=C(C=C2C(=C1)C(=NC=N2)NC3=CC(=C(C(=C3)Br)O)Br)OC
MDAMB231_BREAST CC1(CC(C1)C2=NC(=C3N2C=CN=C3N)C4=CC5=C(C=C4)C=CC(=N5)C6=CC=CC=C6)O
MDAMB453_BREAST CCCS(=O)(=O)NC1=C(C(=C(C=C1)F)C(=O)C2=CNC3=NC=C(C=C23)C4=CC=C(C=C4)Cl)F.CN1C=NC2=C1C=C(C(=C2F)NC3=C(C=C(C=C3)Br)Cl)C(=O)NOCCO
MDAMB361_BREAST C[C@H]1COCCN1C2=NC(=NC3=C2C=CC(=N3)C4=CC(=C(C=C4)OC)CO)N5CCOC[C@@H]5C
MDAMB453_BREAST C1=CC=C2C(=C1)C3=NNC4=CC=CC(=C43)C2=O
MDAMB468_BREAST CC1=C(C=C(C=C1)C(=O)NC2=CC(=CC(=C2)C(F)(F)F)NC(=O)C=C)NC(=O)C3=CC=NO3
MDAMB468_BREAST C1CC2=C(C=CC(=C2)NC3=C(C=C(C=C3)F)F)C(=O)C4=C1C=CC(=C4)OC[C@@H](CO)O
MDAMB415_BREAST C1CCC(C1)C2=C(C=CC(=C2)C3=CNC4=NC=C(C=C34)C5=CC=CC=C5)C(=O)O
MDAMB157_BREAST C1COCCN1C2=CC(=O)C3=C(O2)C(=CC=C3)C4=CC=CC5=C4SC6=CC=CC=C56
MDAMB435S_SKIN CC1=C(C(=O)C2=C(C1=O)N3C[C@H]4[C@@H]([C@@]3([C@@H]2COC(=O)N)OC)N4)N
MDAMB330_BREAST COC1=CC=CC2=C/C(=C/3\C4=C(N=CNN4C(=N3)C5CCC(CC5)C(=O)O)N)/N=C21
MDAMB453_BREAST C1=CC=C(C=C1)NS(=O)(=O)C2=CC=CC(=C2)/C=C/C(=O)NO
MDAMB415_BREAST CCN1C=C(C(=N1)C2=CC=C(C=C2)NC(=O)N(C)C)C3=C4C=C(NC4=NC=C3)C5=CC(=CC=C5)CN(C)C
MDAMB468_BREAST CC(C)[C@@H](C1=CC=CC=C1)C(=O)NC2=CC=C(C=C2)C(=O)NO
MDAMB453_BREAST B([C@H](CC(C)C)NC(=O)[C@H](CC1=CC=CC=C1)NC(=O)C2=NC=CN=C2)(O)O.CC1(CC2=C(C(=O)C1)C(=NN2C3=CC(=C(C=C3)C(=O)N)NC4CCC(CC4)O)C(F)(F)F)C
MDAMB453_BREAST CCCS(=O)(=O)NC1=C(C(=C(C=C1)F)C(=O)C2=CNC3=NC=C(C=C23)C4=CC=C(C=C4)Cl)F.COCCOC1=C(C=C2C(=C1)C(=NC=N2)NC3=CC=CC(=C3)C#C)OCCOC
MDAMB231_BREAST CC(C)(C#N)C1=CC=C(C=C1)N2C3=C4C=C(C=CC4=NC=C3COC2=O)C5=CC6=CC=CC=C6N=C5
MDAMB468_BREAST COC1=CC=C(C=C1)CN2C=CC3=C2C=C(C=C3)C(=O)NO
MDAMB231_BREAST CCCC[C@@H](C)/C=C(\C)/C=C(\C)/C(=O)NC1=C[C@]([C@H]2[C@@H](C1=O)O2)(/C=C/C=C/C=C/C(=O)NC3C(=O)CCC3=O)O
MDAMB330_BREAST CC[C@@]1(C2=C(COC1=O)C(=O)N3CC4=CC5=CC=CC=C5N=C4C3=C2)O
MDAMB435S_SKIN CCOC(=O)C1=C(SC2=C1CC(NC2(C)C)(C)C)NC(=O)C3=CC=C(S3)[N+](=O)[O-]
MDAMB157_BREAST CC1=C2[C@H](C3=C(CC(CC3=O)(C)C)N=C2NN1)C4=CC=CC=C4
MDAMB361_BREAST CCC(C)N1C(=O)N(C=N1)C2=CC=C(C=C2)N3CCN(CC3)C4=CC=C(C=C4)OCC5COC(O5)(CN6C=NC=N6)C7=C(C=C(C=C7)Cl)Cl
MDAMB361_BREAST CC1=C(C(CCC1)(C)C)/C=C/C(=C/C=C/C(=C/C(=O)O)/C)/C
MDAMB231_BREAST CCCS(=O)(=O)NC1=C(C(=C(C=C1)F)C(=O)C2=CNC3=NC=C(C=C23)Cl)F
MDAMB175VII_BREAST C1CC1C(=O)NC2=NNC3=C2C=CC(=C3)C4=CC(=CC=C4)C(=O)NC5CC5
MDAMB157_BREAST CCC1=C2C=C(C=CC2=NC3=C1CN4C3=CC5=C(C4=O)COC(=O)C5(CC)O)O
MDAMB453_BREAST C1COCCN1C2=NC(=NC3=C2OC4=C3C=CC=N4)C5=CC(=CC=C5)O
MDAMB330_BREAST CN1C=C(C2=CC=CC=C21)C3=C(C(=O)NC3=O)C4=CN(C5=CC=CC=C54)C6CCN(CC6)CC7=CC=CC=N7
MDAMB435S_SKIN C1C2CC3CC1CC(C2)(C3)C(=O)ON=C(C4=CC=CC=C4)N
MDAMB435S_SKIN C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)N(C)C)O[C@H]1CNC)[C@@H](C)CO
MDAMB231_BREAST C1=CC(=CC=C1/C=C/C(=O)NO)C(=O)NNC=C2C=CC(=O)C(=C2O)O
MDAMB330_BREAST C1CC(=O)NC(=O)C1N2CC3=C(C2=O)C=CC=C3N
MDAMB453_BREAST C=CC(=O)N1CCC[C@H](C1)N2C3=C(C(=N2)C4=CC=C(C=C4)OC5=CC=CC=C5)C(=NC=N3)N
MDAMB453_BREAST CC(=O)NC1CC(C1)C(=O)NC2=C(C=CC(=C2)C3=CC=C(C=C3)F)N
MDAMB453_BREAST CC1=CN=C(N=C1C2=CNC(=C2)C(=O)N[C@H](CO)C3=CC(=CC=C3)Cl)NC4=C(C=C(C=C4)F)Cl
MDAMB468_BREAST C1=CC(=CC=C1CCC(=O)C2=C(C=C(C=C2O)O)O)O
MDAMB157_BREAST C1CC(CCC1CCC(=O)O)(C2=C(C=CC(=C2)F)F)S(=O)(=O)C3=CC=C(C=C3)Cl
MDAMB453_BREAST CC1=CC=C(C=C1)N2C(=CC(=N2)C(C)(C)C)NC(=O)NC3=CC=C(C4=CC=CC=C43)OCCN5CCOCC5
MDAMB231_BREAST C1COCCN1C2=NC(=NC3=C2OC4=C3C=CC=N4)C5=CC(=CC=C5)NC(=O)C6=CN=C(C=C6)N
MDAMB134VI_BREAST C1=C(C(=O)NC(=O)N1)F
MDAMB468_BREAST C1CC1NC(=O)C2=NOC(=C2)C3=CC=CS3
MDAMB175VII_BREAST C1=CC2=C(C(=O)/C(=N/NC3=CC4=C(C=C3)C=C(C=C4)S(=O)(=O)O)/C=C2S(=O)(=O)O)N=C1
MDAMB468_BREAST C[C@@H]1OC[C@@H]2[C@@H](O1)[C@@H]([C@H]([C@@H](O2)O[C@H]3[C@H]4COC(=O)[C@@H]4[C@@H](C5=CC6=C(C=C35)OCO6)C7=CC(=C(C(=C7)OC)O)OC)O)O
MDAMB134VI_BREAST CC1=C(C=C(C=C1)C(=O)NC2=CC=CC(=C2)C(F)(F)F)NC3=NC(=NC4=C3C=NN4C)C5=CN=CC=C5
MDAMB231_BREAST CCOC1=C(C=C2C(=C1)N=CC(=C2NC3=CC(=C(C=C3)F)Cl)C#N)NC(=O)/C=C/CN(C)C
MDAMB157_BREAST C1=CC(=CC=C1CCCC(=O)O)N(CCCl)CCCl
MDAMB330_BREAST CC1=CN2C(=O)C=C(N=C2C(=C1)[C@@H](C)NC3=CC=CC=C3C(=O)O)N4CCOCC4
MDAMB453_BREAST C1[C@@H]([C@H](O[C@H]1N2C=NC(=NC2=O)N)CO)O
MDAMB361_BREAST B([C@H](CC(C)C)NC(=O)[C@H](CC1=CC=CC=C1)NC(=O)C2=NC=CN=C2)(O)O.CC(C)(C)OC(=O)NC1=CC=C(C=C1)C2=CC(=NO2)C(=O)NCCCCCCC(=O)NO
MDAMB435S_SKIN CCOC(=O)N[C@@H]1CC[C@@H]2[C@@H](C1)C[C@@H]3[C@H]([C@H]2/C=C/C4=NC=C(C=C4)C5=CC(=CC=C5)F)[C@H](OC3=O)C
MDAMB453_BREAST C1C=CC2C1C(NC3=CC=CC=C23)C4=CC5=C(C=C4Br)OCO5
MDAMB231_BREAST CC1=CC(=C(C=C1)F)NC(=O)NC2=CC=C(C=C2)C3=C4C(=CC=C3)NN=C4N
MDAMB175VII_BREAST CC1=CC=C(C=C1)C(=O)N(CCCN)[C@@H](C2=NC3=C(C=CC(=C3)Cl)C(=O)N2CC4=CC=CC=C4)C(C)C.CS(=O)(=O)O
MDAMB415_BREAST C[C@@]12[C@@H]([C@@H](C[C@@H](O1)N3C4=CC=CC=C4C5=C6C(=C7C8=CC=CC=C8N2C7=C53)CNC6=O)N(C)C(=O)C9=CC=CC=C9)OC
MDAMB157_BREAST C1[C@](O1)(CCCCCCOC2=CC=C(C=C2)Cl)C(=O)O
MDAMB453_BREAST COCCOC(=O)N1C2=C(C=C(C=C2)C#CCC(C(=O)OC)C(=O)OC)[C@]3(C1=O)[C@@H]([C@H]4C(=O)O[C@@H]([C@@H](N4[C@@H]3C5=CC=CC=C5OCCO)C6=CC=CC=C6)C7=CC=CC=C7)C(=O)NCC=C
MDAMB330_BREAST CC1CC(=O)N(C2=CN=C(N=C2N1C3CCCC3)NC4=C(C=C(C=C4)C(=O)NC5CCN(CC5)C)OC)C
MDAMB415_BREAST CC(C)(C)C1=NC(=C(S1)C2=NC(=NC=C2)N)C3=C(C(=CC=C3)NS(=O)(=O)C4=C(C=CC=C4F)F)F
MDAMB175VII_BREAST CCC1=C[C@H]2C[C@@](C3=C(CN(C2)C1)C4=CC=CC=C4N3)(C5=C(C=C6C(=C5)[C@]78CCN9[C@H]7[C@@](C=CC9)([C@H]([C@@]([C@@H]8N6C)(C(=O)OC)O)OC(=O)C)CC)OC)C(=O)OC
MDAMB468_BREAST C[C@@H]1CC[C@H]2C[C@@H](/C(=C/C=C/C=C/[C@H](C[C@H](C(=O)[C@@H]([C@@H](/C(=C/[C@H](C(=O)C[C@H](OC(=O)[C@@H]3CCCCN3C(=O)C(=O)[C@@]1(O2)O)[C@H](C)C[C@@H]4CC[C@H]([C@@H](C4)OC)OC(=O)C(C)(CO)CO)C)/C)O)OC)C)C)/C)OC
MDAMB468_BREAST C1=CC=C(C=C1)NC(=O)C2=CC(=CC=C2)C(=O)NO
MDAMB453_BREAST C[C@H]1CN(C(=O)CC2=C(C=CC(=C2)NC(=O)C3=CC=NC=C3)O[C@@H]1CN(C)C(=O)NC4=CC=CC5=CC=CC=C54)[C@H](C)CO
MDAMB231_BREAST CNCC1=CC=C(C=C1)C2=C3CCNC(=O)C4=CC(=CC(=C34)N2)F
MDAMB453_BREAST CCOC(=O)N[C@@H]1CC[C@@H]2[C@@H](C1)C[C@@H]3[C@H]([C@H]2/C=C/C4=NC=C(C=C4)C5=CC(=CC=C5)F)[C@H](OC3=O)C
MDAMB436_BREAST CCN1CCN(CC1)CC2=C(C=C(C=C2)NC(=O)C3=CC(=C(C=C3)C)OC4=C5C=CNC5=NC=C4)C(F)(F)F
MDAMB468_BREAST COC1=C(C=C(C=C1)CS(=O)(=O)/C=C/C2=C(C=C(C=C2OC)OC)OC)NCC(=O)O
MDAMB415_BREAST C1CC1COC\2=CC=CC(=O)/C2=C\3/C=C(C(=C(N3)N)C#N)C4CCNCC4
MDAMB453_BREAST CNC(=O)C1=NC=CC(=C1)OC2=CC(=C(C=C2)NC(=O)NC3=CC(=C(C=C3)Cl)C(F)(F)F)F
MDAMB453_BREAST CN1CCCN(CC1)C2=NC3=CC(=C(C=C3C(=N2)NC4CCN(CC4)C)OC)OCCOCCN(C)C

Using Levenshtein distance, we can replace rcellminer ver cell line to Drug Cell ver cell line!

In [28]:
dist = 100
for i in train[0]:
    if 'MDA' in i:
        distance = Levenshtein.distance(i, 'MDA-MB-231')
        if dist > distance:
            print(i)
            dist = distance

NameError: name 'Levenshtein' is not defined

In [ ]:
dist = 100
for i in train[0]:
    if 'MCF' in i:
        distance = Levenshtein.distance(i, 'MCF7')
        if dist > distance:
            print(i)
            dist = distance

In [ ]:
dist = 100
for i in train[0]:
    distance = Levenshtein.jaro_winkler(i, 'MDA-MB-231')
    if dist > distance:
        print(i)
        dist = distance

In [ ]:
dist = 100
for i in train[0]:
    distance = difflib.SequenceMatcher(None, i, 'MDA-MB-231').ratio()
    if dist > distance:
        print(i)
        dist = distance

In [ ]:
for i, j in zip(train[0], train[1]):
    if 'HOP' in i:
        print(i, j)

In [ ]:
for i, j in zip(train[0], train[1]):
    if 'H226' in i:
        print(i, j)